.header-tbl {
  border-width: 1px;
  border-style: solid;
  border-color: darkblue;
}

.header-tbl-cell {
  background-color: darkblue;
}

.comp-name-spn-outer {
  color: white;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  font-family: Arial;
  display: block;
  text-shadow: 2px 2px #808080;
}

.sensor-spn-outer {
  background-color: lightskyblue;
  color: white;
  font-size: large;
  font-weight: bold;
  font-family: Arial;
  border-width: 2px;
  border-style: solid;
  border-color: grey;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
  overflow: hidden;
  text-align: center;
  text-shadow: 0.5px 0.5px #808080;
}

.sensor-spn-inner-value {
  font-size: 14px;
  font-family: Arial;
  color: grey;
  text-shadow: 0.4px 0.4px white;
}

.sensor-spn-inner {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.time-interval-slider {
  width: 100%;
  cursor: pointer;
}

.time-interval-label {
  color: #0775d1;
  font-family: Arial;
  text-shadow: 0.5px 0.5px #808080;
}

.graph-spn-title {
  background-color: lightblue;
  color: #0775d1;
  overflow: hidden;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  font-family: Arial;
  border-width: 2px;
  border-style: solid;
  border-color: lightblue;
  border-radius: 15px 15px 0px 0px;
  display: none;
  text-shadow: 0.5px 0.5px #808080;
}

.graph-spn-footer {
  background-color: lightblue;
  color: #0775d1;
  overflow: hidden;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  border-width: 2px;
  border-style: solid;
  border-color: lightblue;
  border-radius: 0px 0px 15px 15px;
  display: none;
}

.graph-spn {
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 15px;
}

.graph-spn-no-data-outer {
  background-color: lightblue;
  border: 1px;
  color: orangered;
  border-color: #0775d1;
  border-radius: 10px;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
}

.graph-spn-no-data-inner {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

.waiter-spn {
  width: 200px;
  height: 200px;
  position: fixed;
  top: 100px;
  left: 100px;
  background-image: url(../Image/Loader.gif);
  background-repeat: no-repeat;
  display: none;
}
